/*DIVASOFT FORMS PRESET*/
.control-group {margin-bottom: 15px;}
.control-label {float: left; padding: 4px 0; width: 200px; display: block; font-size: 14px;}
.controls {margin-left: 210px;}
.control-button {float: right;}
.control-button input {float: right;}
.dvs-captcha {float: left; margin-right: 20px; width: 120px;}
.inputbox {border: 1px solid #CCCCCC ;color: #555555; border-radius: 5px !important;  width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; font-family: 'PT Sans'; padding: 5px;}
input.inputbox {height: 30px;}